# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=production
PORT=3000

POSTGRES_VERSION=13-alpine
POSTGRES_PORT=5432
POSTGRES_USERNAME=root
POSTGRES_PASSWORD=1234
POSTGRES_DATABASE=juicyburger
POSTGRES_HOST=localhost

DATABASE_URL="postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=test_task_data"

JWT_ACCESS_SECRET=hello
JWT_REFRESH_SECRET=hello1
JWT_EXPIRE=3d

HASHER_SECRET_KEY=12345678123456781234567812345678
HASHER_IV=ec73ff172198af2f

SWAGGER_AUTH_USER=root
SWAGGER_AUTH_PASSWORD=1234

YOUTUBE_API_KEY=AIzaSyAeCeV7NzniZd9_ACnGcb-uj808a8zPnJ4
